@import '../../../styles/login';
a.logo {
    display: inline-block;
    margin: 0 auto;
    img {
      max-width: 240px;
    }
  }
.version {
    padding: 20px 0;
}
.version h6 {

    text-align: center;
    font-size: 10px;
    color: #939191;
    margin-top: 10px;
}
.auth-pages {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}