<div class="container">
    <div class="card parent">
      <div class="card-header">
        <h4>Employee Contacts</h4>
        <div class="card-actions">
          <a href="/admin/employee-contact-add/" class="btn btn-primary"><i class="fal fa-plus"></i> Add Employee Contact</a>
        </div>
      </div>
      <div class="card-body">
        <!-- AG Grid Angular Component -->
        <ag-grid-angular
          style="width: 100%; height: 500px"
          class="ag-theme-alpine"
          [rowData]="rowData$"
          [cacheQuickFilter]="true"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [animateRows]="true"
          [paginationPageSize]="paginationPageSize"
          [pagination]="true"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
    </div>
  </div>
</div>
<product-popup (updateEvent)="popupUpdate($event)" ></product-popup>
<delete-confirmation (confirmationResult)="onConfirmation($event)" heading="Delete Confirmation" message="This product will be removed from the system." confirmButton="Delete" cancelButton="Cancel" ></delete-confirmation>