<div class="container">
    <div class="card parent">
        <div class="card-header">
            <h4>MBRs Review Request</h4>
            <div class="card-actions">
                <div class="submit-status">
                    <span class="status-label">Status:</span>
                    <span class="status-value">Accepted</span>
                </div>
                <ng-select class="ng-select-style" [items]="statusList" [(ngModel)]="selectedStatus" bindLabel="name"
                    bindValue="name" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                        <div class="select-label {{item.color}}">
                            <i class="fal {{item.icon}}"></i>
                            {{item.name}}
                        </div>
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="card-body">
            <div class="submission-data-card">
                <ul>
                    <li>
                        <span class="data-label">Lender</span>
                        <span class="data-value">Microsoft Croporation</span>
                    </li>
                    <li>
                        <span class="data-label">Product</span>
                        <span class="data-value">Microsoft Croporation</span>
                    </li>
                    <li>
                        <span class="data-label">Due Date</span>
                        <span class="data-value">15-02-2013</span>
                    </li>

                </ul>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <div class="card attachment-card">
                        <div class="card-header">Attachments</div>
                        <div class="card-body">
                            <ul>
                                <li>
                                    <div class="file-type"><i class="far fa-file-word"></i></div>
                                    <div class="file-name">request-form.doc</div>
                                    <div class="download link"><button class="btn btn-icon-fill"><i
                                                class="fal fa-arrow-to-bottom"></i></button></div>
                                </li>
                                <li>
                                    <div class="file-type"><i class="fal fa-file-word"></i></div>
                                    <div class="file-name">new-plan.docx</div>
                                    <div class="download link"><button class="btn btn-icon-fill"><i
                                                class="fal fa-arrow-to-bottom"></i></button></div>
                                </li>
                                <li>
                                    <div class="file-type"><i class="far fa-file-pdf"></i></div>
                                    <div class="file-name">user-agreements.pdf</div>
                                    <div class="download link"><button class="btn btn-icon-fill"><i
                                                class="fal fa-arrow-to-bottom"></i></button></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="attachment-actions">
                        <button class="btn btn-danger"><i class="fal fa-times-octagon"></i> Deny / Reject</button>
                        <button class="btn btn-primary"><i class="far fa-arrow-left"></i> Send Back For Review</button>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------- SEND FOR REVIEW -------------------------------------------------------->
            <div class="row  my-3">
                <div class="col-lg-8 col-md-10">
                    <div class="submit-box submit-sendback">
                        <div class="animate-labels-form">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" type="text" onclick="(this.type='date')"
                                    placeholder=" "></textarea>
                                <label>Notes</label>
                            </div>
                            <div class="custom-dropzone mb-4" ngx-dropzone [accept]="'*'" (change)="onSelect($event)">
                                <ngx-dropzone-label>
                                    <div class="drag-dorp-label">
                                        <i class="far fa-cloud-upload"></i>
                                        <p>Drag & Drop</p>
                                        <p>OR</p>
                                        <span>Browse</span>
                                    </div>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                    [file]="f" [removable]="true" (removed)="onRemove(f)"
                                    [ngClass]="getFileType(f.type)">
                                    <ngx-dropzone-label [ngClass]="getFileType(f.type)">
                                        {{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </div>

                            <div class="text-end">
                                <button class="btn btn-outline-danger">
                                    Cancel
                                </button>
                                <button class="btn btn-primary ms-3"><i class="far fa-arrow-left"></i> Send Back For
                                    Review</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------------------------------------- REJECT FORM -------------------------------------------------------->
            <div class="row  my-3">
                <div class="col-lg-8 col-md-10">
                    <div class="submit-box submit-reject">
                        <div class="animate-labels-form">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" type="text" onclick="(this.type='date')"
                                    placeholder=" "></textarea>
                                <label>Rejection Notes</label>
                            </div>
                            <div class="text-end">
                                <button class="btn btn-outline-danger">
                                    Cancel
                                </button>
                                <button class="btn btn-danger ms-3"><i class="fal fa-times-octagon"></i>Deny /
                                    Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------------------------------------- Submitted Send Back -------------------------------------------------------->
            <div class="row  my-3">
                <div class="col-lg-8 col-md-10">
                    <div class="submit-box submited-sendback">
                        <div class="submit-user">
                            <div class="user-icon">
                                <i class="fal fa-user-circle"></i>
                            </div>
                            <div>
                                <h6><span class="user-name">Zack Synder</span></h6>
                                <p class="submit-date"> 25-03-2023</p>
                            </div>
                        </div>
                        <div class="subitted-details">

                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic explicabo accusamus velit
                                sit? Architecto laudantium quaerat ipsa obcaecati? Nisi necessitatibus, voluptas,
                                recusandae numquam iure iste illum inventore facilis praesentium quod sequi. Ex sapiente
                                impedit, vitae dolor dignissimos placeat ipsum accusantium sed cumque illum rerum quas
                                cupiditate! Reprehenderit dolorum magnam inventore.</p>
                            <div class="submitted-attachment">
                                <i class="far fa-file-pdf"></i>
                                <span>Sample document</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>