<main class="auth-pages">
    <div class="card">
        <a class=" logo p-2" >
            <img src="../../../../assets/images/vasol-logo.png" alt="" />
          </a>
        <div class="card-title">
            <h4>Change Password</h4>
            <p>New password must be different from provious. </p>
        </div>
        <div class="card-body">
            <form class="animate-labels-form">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" " />
                    <label class="form-label">Current Password</label>
                    
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" " />
                    <label class="form-label">New Password</label>
                    <div class="error hide">
                        Password is incorrect
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" " />
                    <label class="form-label">Confirm New Password</label>
                    <div class="error hide">
                        Password do not match
                    </div>
                </div>
                <div class="d-grid">
                    <button routerLink="/admin/dashboard" type="submit"
                        class="btn btn-primary justify-content-center">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</main>