<!-- STATIC CONTENT -->
<header>

    <div class="col-md-12">
    <button type="button" class="col-md-3 btn btn-primary" (click)="selectTab(0)">Basic Info</button>
    <button class="col-md-3 btn btn-primary" (click)="selectTab(1)">Price</button>
    <button  class="col-md-3 btn btn-primary" (click)="selectTab(2)">Stock </button>
    <button  class="col-md-3 btn btn-primary" (click)="selectTab(3)">Listing </button>
  </div>

</header>
<!-- STATIC CONTENT -->
<!-- TABS -->


<div>
  <ng-container *ngIf="selectedTabIndex === 0">
    <item-basic></item-basic>
  </ng-container>
  <ng-container *ngIf="selectedTabIndex === 1">
    <app-item-Price></app-item-Price>
  </ng-container>
  <ng-container *ngIf="selectedTabIndex === 2">
    <app-item-Price></app-item-Price>
  </ng-container>
  <ng-container *ngIf="selectedTabIndex === 3">
    <app-item-listing></app-item-listing>
  </ng-container>
</div>

