<div class="container">
    <div class="card parent">
        <div class="card-header">
            <h4>{{userId ? "Update System User" : "Add System User"}}</h4>
            <div class="card-actions">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <form class="animate-labels-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row"style="max-width: 1200px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder=" " formControlName="email" [readOnly]="userId || isLoading" />
                                    <label for="email" class="form-label">Email address</label>
                                    <div *ngIf="(registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                                        <div class="error" *ngIf="registerForm.controls['email'].errors?.['email']">
                                            Enter valid email address
                                        </div>
                                        <div class="error" *ngIf="registerForm.controls['email'].errors?.['required']">
                                            Enter email address
                                        </div>
                                        <div class="error" *ngIf="registerForm.controls['email'].errors?.['entityExists']">
                                            User already exists with this email
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" " formControlName="firstName" [readOnly]="isLoading" />
                                    <label class="form-label">First name</label>
                                    <div *ngIf="(registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
                                        <div class="error" *ngIf="registerForm.controls['firstName'].errors?.['required']">
                                            Enter First Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" " formControlName="lastName" [readOnly]="isLoading" />
                                    <label class="form-label">Last name</label>
                                    <div *ngIf="(registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
                                        <div class="error" *ngIf="registerForm.controls['lastName'].errors?.['required']">
                                            Enter Last Name
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control invalid" placeholder=" " formControlName="phoneNumber" [readOnly]="isLoading" />
                                    <label class="form-label">Phone</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group select-container">
                                  <label *ngIf="!selectedUserType">{{ labelPlaceholder }}</label>
                                  <select
                                    id="userType"
                                    class="form-control"
                                    formControlName="userType"
                                    (change)="updateLabel($event)"
                                    [(ngModel)]="selectedUserType"
                                  >
                                    <option value="company">company</option>
                                    <option value="Admin">Admin</option>
                                  </select>
                                </div>
                              </div> 
                               
<!--                                               
                 
                        <div class="row">  -->
                            <div class="row ">
                                <input type="checkbox" id="isActive" formControlName="isActive"/>
                                <label for="isActive">User Status</label>
                               
                              </div>
                   
                      <!-- </div> -->
                       
                  
               
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="fs-6 fw-bold">Permissions</label>
                                <hr class="mb-4 mt-1" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group checkbox-radio not-animate mb-3">
                                            <input type="checkbox" id="checkbox-1" value="FormSubmission" 
                                            [checked]="this.userData.permissions && this.userData.permissions.indexOf('FormSubmission') !== -1" (change)="onCheckChange($event)" />
                                            <label for="checkbox-1"></label>
                                            <label for="checkbox-1">Form Submissions</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group checkbox-radio not-animate mb-3">
                                            <input type="checkbox" id="checkbox-2" value="FormConsolidation"
                                            [checked]="this.userData.permissions && this.userData.permissions.indexOf('FormConsolidation') !== -1" (change)="onCheckChange($event)" />
                                            <label for="checkbox-2"></label>
                                            <label for="checkbox-2">Form Consolidations</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group checkbox-radio not-animate mb-3">
                                            <input type="checkbox" id="checkbox-3" value="MBRReview"
                                            [checked]="this.userData.permissions && this.userData.permissions.indexOf('MBRReview') !== -1" (change)="onCheckChange($event)" />
                                            <label for="checkbox-3"></label>
                                            <label for="checkbox-3">MBR Reviews</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group checkbox-radio not-animate mb-3">
                                            <input type="checkbox" id="checkbox-4" value="WaiveRequest"
                                            [checked]="this.userData.permissions && this.userData.permissions.indexOf('WaiveRequest') !== -1" (change)="onCheckChange($event)" />
                                            <label for="checkbox-4"></label>
                                            <label for="checkbox-4">Waiver Request</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group checkbox-radio not-animate mb-3">
                                            <input type="checkbox" id="checkbox-5" value="Providers"
                                            [checked]="this.userData.permissions && this.userData.permissions.indexOf('Providers') !== -1" (change)="onCheckChange($event)" />
                                            <label for="checkbox-5"></label>
                                            <label for="checkbox-5">Providers</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group checkbox-radio not-animate mb-3">
                                            <input type="checkbox" id="checkbox-6" value="Lenders"
                                            [checked]="this.userData.permissions && this.userData.permissions.indexOf('Lenders') !== -1" (change)="onCheckChange($event)" />
                                            <label for="checkbox-6"></label>
                                            <label for="checkbox-6">Lenders</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary"[disabled]="registerForm.invalid ||isLoading" ><i *ngIf="isLoading" i class="fa fa-spinner fa-spin"></i> {{isLoading ? "Loading..." : (userId? "Update" : "Add")}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>