<div class="container">
    <div class="card parent">
        <div class="card-header">
            <h4>Dashboard Provider</h4>
            <div class="card-actions">
                <!-- <a [routerLink]="null" class="btn btn-primary"><i class="fal fa-plus"></i> Add</a> -->
            </div>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="col-sm-6 col-md-4">
                    <div class="card mb-4">
                        <div class="card-body dashbaord-card card-1">
                            <i class="fal fa-clipboard-list-check"></i>
                            <h5>45</h5>
                            <p>Submissions</p>
                            <a routerLink="/provider/form-submissions" class="link-allover"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card mb-4">
                        <div class="card-body dashbaord-card card-3">
                            <i class="fal fa-code-branch"></i>
                            <h5>21</h5>
                            <p>Consolidations</p>
                            <a routerLink="/provider/form-consolidaton" class="link-allover"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card mb-4">
                        <div class="card-body dashbaord-card card-2">
                            <i class="fal fa-file-chart-pie"></i>
                            <h5>30</h5>
                            <p>MBRs Review</p>
                            <a routerLink="/provider/mbr-list" class="link-allover"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>