#new {
    margin-left: 10px;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgba(14, 64, 156, 0.1);
    color: #0E409C;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 50px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 2px;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #0E409C; color: white;}



  .searchh{

    width: 50%;
    // height: 50px;
    margin: auto;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #999;
  }
  .clear {
    position: absolute;
    top: 38px;
    transform: translateY(-50%);
    width: 415px;
    height: 15px;
    right: 15px;
    // background: #939c0e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
  
  }
  .clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
  }