<div class="container">
    <div class="card parent">
        <div class="card-header">
            <h4>{{expenseTypeId ? "Update Expense Type" : "Add Expense Type"}}</h4>
            <div class="card-actions">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <form class="animate-labels-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder=" " formControlName="name" [readOnly]="isLoading" />
                                    <label for="email" class="form-label">Name</label>
                                    <div *ngIf="(form.controls['name'].dirty || form.controls['name'].touched)">
                                        <div class="error" *ngIf="form.controls['name'].errors?.['required']">
                                            Enter Expense Type name.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary"[disabled]="form.invalid ||isLoading" ><i *ngIf="isLoading" i class="fa fa-spinner fa-spin"></i> {{isLoading ? "Loading..." : (expenseTypeId? "Update" : "Add")}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>