<div class="organization-sidebar">
    <span class="close-organization-sidebar" (click)="closeRightSidebar()"><i class="fal fa-times"></i></span>
    <div>
        <h4>{{organizationId ? "Update Organization" : "Add Organization"}}</h4>
        <form class="animate-labels-form" [formGroup]="organizationForm">
            <div class="form-group">
                <input class="form-control" type="text" placeholder=" " formControlName="name" [readOnly]="isLoading">
                <label>Organization Name</label>
                <div *ngIf="(organizationForm.controls['name'].dirty || organizationForm.controls['name'].touched)">
                    <div class="error" *ngIf="organizationForm.controls['name'].errors?.['required']">
                        Enter organization name
                    </div>
                    <div class="error" *ngIf="organizationForm.controls['name'].errors?.['entityExists']">
                        organization already exists with this name
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" placeholder=" " formControlName="description" [readOnly]="isLoading"></textarea>
                <label>Organization Description</label>
                <div *ngIf="(organizationForm.controls['name'].dirty || organizationForm.controls['name'].touched)">
                    <div class="error" *ngIf="organizationForm.controls['description'].errors?.['required']">
                        Enter organization description
                    </div>
                </div>
            </div>
            <div class="text-end mt-auto">
                <button class="btn btn-outline-danger" (click)="closeRightSidebar()" [disabled]="isLoading">
                    Cancel
                </button>
                <button class="btn btn-primary ms-3" (click)="onSubmit()" [disabled]="isLoading || organizationForm.invalid" ><i *ngIf="isLoading" i class="fa fa-spinner fa-spin"></i> {{isLoading ? "Loading..." : (organizationId ? "Update" : "Add")}}</button>
            </div>
        </form>
    </div>
</div>