<main class="auth-pages">
    <div class="card">
        <a class=" logo p-2" >
            <img src="../../../../assets/images/vasol-logo.png" alt="" />
          </a>
        <div class="card-title">
            <h4>Create New Password</h4>
            <p>New password must be different from provious. </p>
        </div>
        <div class="card-body">
            <form class="animate-labels-form" [formGroup]="createPasswordForm" (ngSubmit)="create()">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" " formControlName="currentPassword"  [readOnly]="isLoading"/>
                    <label class="form-label">Current Password</label>
                    <div *ngIf="(createPasswordForm.controls['currentPassword'].dirty || createPasswordForm.controls['currentPassword'].touched)">
                        <div class="error" *ngIf="createPasswordForm.controls['currentPassword'].errors?.['required']">
                            Enter current password.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" " formControlName="password"  [readOnly]="isLoading"/>
                    <label class="form-label">New Password</label>
                    <div *ngIf="(createPasswordForm.controls['password'].dirty || createPasswordForm.controls['password'].touched)">
                        <div class="error" *ngIf="createPasswordForm.controls['password'].errors?.['required']">
                            Enter new password.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder=" " formControlName="confirmPassword"  [readOnly]="isLoading"/>
                    <label class="form-label">Confirm Password</label>
                    <div *ngIf="(createPasswordForm.controls['confirmPassword'].dirty || createPasswordForm.controls['confirmPassword'].touched)">
                        <div class="error" *ngIf="createPasswordForm.controls['confirmPassword'].errors?.['required']">
                            Enter confirm password.
                        </div>
                        <div class="error" *ngIf="createPasswordForm.controls['confirmPassword'].errors?.['confirmPasswordValidator']">
                            Passwords doesn't match.
                        </div>
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit"
                        class="btn btn-primary justify-content-center" [disabled]="createPasswordForm.invalid || isLoading"><i *ngIf="isLoading" i class="fa fa-spinner fa-spin"></i>Reset Password</button>
                </div>
                <div class="error" *ngIf="apiResponse && apiResponse.isError" >
                    {{apiResponse.message}}
                </div>
            </form>
        </div>
    </div>
</main>